
<% if user_signed_in? %>

<div class="btn-toolbar">
  <div class="btn-group">
      <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-thumbs-up"></i></a>
      <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-heart"></i></a>
      <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-share-alt"></i></a>
  </div>
  <div class="btn-group">
      <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-trash"></i></a>
  </div>
</div>
<h1> Welcome Guys!! </h1>
<% else %>

<div class="center hero-unit">

    <h1>What's Going on in the City.. </hi>

    <h2>
      today...December 12th
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>
</div>

<% end %>