
<% if user_signed_in? %>

<div class="btn-toolbar">
  <div class="btn-group">
      <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-thumbs-up"></i></a>
      <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-heart"></i></a>
      <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-share-alt"></i></a>
  </div>
  <div class="btn-group">
      <a href="#" class="btn btn-inverse disabled"><i class="icon-white icon-trash"></i></a>
  </div>
</div>
<h1> Welcome Guys!! </h1>
<% else %>

<div class="center hero-unit">

    <h1>What's Going on in the City.. </hi>

    <h2>
        <script language = "JavaScript">
var now = new Date();
var dayNames = new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");
var monNames = new Array("January","February","March","April","May","June","July","August","September","October","November","December");
document.write("Today.." + dayNames[now.getDay()] + " " + monNames[now.getMonth()] + " " + now.getDate() + ", " + now.getFullYear());
</script>
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>
</div>
<div class="row">
  <div class="span3">
    <div class="page-header">
      <p class="pull-right"><a href="#">see all</a></p>
      <h4>Honors <small>(10)</small></h4>
    </div>
	
  </div>
</div>

<% end %>